.page-title-box{
  background: linear-gradient(to left,#779da785 0%,#42415c2a 100%);
}
.page-title-box{
  border-left: 10px solid #ff6600;
 
}

.catagory-page-title{
  display: inline-block;

}
.catagory-page-title h1{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 10px 2px 10px ;
  line-height:1;
  margin-bottom: 0;
  color: #1a237e;
}




.sub-title{
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 3px 5px 0px 5px;
  color: #757575;
  }
  .single-page-inner-news .latest-child-news-box p{
    padding: 2px 5px 0px 5px;
    height: 42px;
  }
  .single-page-inner-news .latest-child-news-box .time{
   padding: 2px 5px 0px 5px;
    margin-block: 0;
  }


  .load-more-btn a{
    background: green;
    width: fit-content;
    padding: .2rem .5rem .0rem .5rem;
    font-size: 1.3rem;
    font-size: 600;
    color: white;
     transition: .5s ease;
    border-radius: 2px;
    margin-block: 1rem;
  }
  .load-more-btn a:hover{
    color: red;
  
  }


  .load-more-btn svg{
    color: red;
    transition: .5s ease;
  }
  .load-more-btn a:hover svg{
    color: white;
  }